<section class="results-section articles <%= @articles.has_items? ? "is-active" : "" %>">
  <div class="sidebar-item">
    <a class="file-type">
      <%= image_tag("icons/icon-articles", alt: "Articles", class: "filter-type-image") %>
    </a>
    <p class="file-type-count"><%= @articles.total_items %></p>
  </div>
  <h2 class="results-section-title">Documents</h2>
  <div class="card-grid">
    <ul>
      <% @articles.files.each do |article| %>
      <li class="card-container">
        <a class="card card--has-img" target=_blank href=<%= sufia.download_path(article) %>>
          <div class="card-figure-img">
            <img src="<%= sufia.download_path(article, file: 'thumbnail') %>" alt="<%= article.title.first %>">
          </div>
          <div class="card-content">
            <h3 class="card-content-title">
              <%= article.title.first %>
            </h3>
            <h4 class="card-content-subtitle">
              <%= article.production_names.join(", ") %>
            </h4>
          </div>
        </a>
      </li>
      <% end %>
    </ul>
  </div>
  <div class="paging">
    <% if @articles.show_more? %>
    <a href="#" class="js-load-more-articles" data-page="<%= @articles.next_page %>">Load More</a>
    <% end %>
  </div>
</section>
