<li class="card-container is-hidden">
  <a class="card card--has-img" target=_blank href=<%= sufia.download_path(article) %>>
    <div class="card-figure-img">
      <img src="<%= sufia.download_path(article, file: 'thumbnail') %>" alt="<%= article.title.first %>">
    </div>
    <div class="card-content">
      <h3 class="card-content-title">
        <%= article.title.first %>
      </h3>
      <h4 class="card-content-subtitle">
        <%= article.production_names %>
      </h4>
    </div>
  </a>
</li>
