<section class="results-section articles is-active" data-total-items='1'>
  <div class="sidebar-item">
    <a class='file-type active' data-type='articles'>Articles</a>
    <p class="file-type-count"><%= @files["Article"].try(:size) || 0 %></p>
  </div>
  <h2 class="results-section-title">Documents</h2>
  <div class="card-grid">
    <% @files.fetch("Article", []).each do |article| %>
      <li class="card-container">
        <a class="card card--has-img" target=_blank href=<%= sufia.download_path(article) %>>
          <div class="card-figure-img">
            <img src="<%= sufia.download_path(article, datastream_id: 'thumbnail') %>" alt="<%= article.title.first %>">
          </div>
          <div class="card-content">
            <h3 class="card-content-title">
              <%= article.title.first %>
            </h3>
            <h4 class="card-content-subtitle">
              <%= article.production_name %>
            </h4>
          </div>
        </a>
      </li>
    <% end %>
  </div>
  <div class="paging">
    if hasNextPage
      a{action 'page' 'articles' 1} href="#"
        | More
  </div>
</section>
