<section class="results-section audios <%= @audios_search.show_audios? && @audios.has_items? ? "is-active" : "" %>">
  <div class="sidebar-item">
    <a class="file-type">
      <%= image_tag("icons/icon-audios", alt: "Audios", class: "filter-type-image") %>
    </a>
    <p class="file-type-count"><%= @audios.total_items %></p>
  </div>
  <h2 class="results-section-title">Audio</h2>
  <div class="audios-grid">
    <ul>
      <% @audios.files.each do |audio| %>
      <li>
        <audio controls preload="none">
          <source src="<%= sufia.download_path(audio) %>" />
        </audio>
      </li>
      <% end %>
    </ul>
  </div>
  <div class="paging">
    <% if @audios.show_more? %>
    <a href="#" class="js-load-more-audios" data-page="<%= @audios.next_page %>">Load More</a>
    <% end %>
  </div>
</section>
