<li>
  <figure>
    <% if unreadable?(image) %>
      <%= image_tag "unreadable_item", alt: "Unreadable Item", class: "slideshow-img" %>
    <% else %>
      <%= image_tag sufia.download_path(image), alt: image.title.first, class: "slideshow-img" %>
    <% end %>
    <figcaption>
      <h3><%= image.title.first %></h3>
      <p><%= image.production_names.join(',') %></p>
      <p><%= image.venue_full_names.join(',') %></p>
      <p><%= image.description.first %></p>
      <p><%= formatted_creation_date(image) %></p>
    </figcaption>
  </figure>
</li>
