<section class="results-section videos is-active" data-total-items='1'>
  <div class="sidebar-item">
    <a class="file-type active" data-type='videos'>Videos</a>
    <p class="file-type-count"><%= @files["Video"].try(:size) || 0 %></p>
  </div>
  <h2 class="results-section-title">Videos</h2>
  <ul class="js-videos-grid videos-grid">
    <% @files.fetch("Video", []).each do |video| %>
      <li class="js-video-container card-container">
        <a class="js-video card card--has-img card--overlay-content" data-webm=<%= sufia.download_path(video, datastream_id: 'webm') %> data-mp4=<%= sufia.download_path(video, datastream_id: 'mp4') %> data-title=<%= video.title.first %>
           data-description=<%= video.description %> data-description=<%= video.venue_name %>>
           <div class="card-figure-img">
              <div class="card-figure-img-wrapper">
                <img src="<%= sufia.download_path(video, datastream_id: 'thumbnail') %>" alt="<%= video.title.first %>" />
              </div>
            </div>
          <div class="card__content">
            <h3 class="card__content__title">
              <%= video.title.first %>
            </h3>
            <h4 class="card__content_subtitle">
              <%= video.venue_name.first %>
            </h4>
            <p class="card__content__date">
              <%= video.date_created.first %>
            </p>
          </div>
        </a>
      </li>
    <% end %>
  </ul>
  <div class="paging">
    if hasNextPage
      a{action 'page' 'videos' 1} href="#"
        | More
  </div>
</section>
