<div data-page="<%= @articles.next_page %>" data-more="<%= @articles.show_more? %>">
  <div id="articles">
    <% @articles.files.each do |article| %>
      <% if unreadable?(article) %>
        <%= render partial: "article_unreadable", locals: { article: article } %>
      <% else %>
        <%= render partial: "article", locals: { article: article } %>
      <% end %>
    <% end %>
  </div>

  <div class="paging">
    <% if @articles.show_more? %>
    <a href="#" class="js-load-more-articles" data-page="<%= @articles.next_page %>">Load More</a>
    <% end %>
  </div>
</div>
