<div data-page="<%= @images.next_page %>" data-more="<%= @images.show_more? %>" data-total-items="<%= @images.total_items %>">
  <ul id="thumbnails">
  <% @images.files.each do |image| %>
    <%= render partial: "image_thumbnail", locals: { image: image } %>
  <% end %>
  </ul>

  <ul id="slideshow">
  <% @images.files.each do |image| %>
    <%= render partial: "image_slideshow", locals: { image: image } %>
  <% end %>
  </ul>

  <div class="paging">
    <% if @images.show_more? %>
      <a href="#" class="js-load-more-images" data-page="<%= @images.next_page %>">Load More</a>
    <% end %>
  </div>
</div>
