<div data-page="<%= @images.next_page %>" data-more="<%= @images.show_more? %>" data-total-items="<%= @images.total_items %>">
  <div id="images">
    <% @images.files.each do |image| %>
      <%= render partial: "image", locals: { image: image } %>
    <% end %>
  </div>

  <div class="paging">
    <% if @images.show_more? %>
      <a href="#" class="js-load-more" data-page="<%= @images.next_page %>">Load More</a>
    <% end %>
  </div>
</div>
