<div class="sidebar-container"></div>

<div class="page-container">
  <%= form_tag(searches_path, method: "get", id: "filter-form") do %>
    <%= render "header" %>
    <%= render "filters" %>
  <% end %>
  <%= render "search_results" %>
  <%= render "footer" %>
</div>

<script type="text/javascript">
var refreshURL = '';

$(function(){
  $('.js-venue-list').imagepicker({
    show_label: true,
    changed: function () {
      $('#filter-form').submit()
    }
  });

  var difference = function(first, second) {
    return $(first).not(second).get();
  }

  var updateSectionVisibility = function(oldTypes, newTypes) {
    $.each(difference(oldTypes, newTypes), function (_, recordType) {
      $('.' + recordType).removeClass("is-active")
      refreshURL = window.location.search.substring(1).replace('&types%5B%5D='.concat(recordType), '')
    });

    $.each(difference(newTypes, oldTypes), function (_, recordType) {
      $('.' + recordType).addClass("is-active")
      refreshURL = window.location.search.substring(1).concat('&types%5B%5D='.concat(recordType))
      window["fetch" + capitalize(recordType)](1)
    });
  };

  $('.js-type-list').imagepicker({
    show_label: false,
    changed: updateSectionVisibility
  });

  $('.js-year-range').ionRangeSlider({
    type: "double",
    hide_min_max: true,
    step: 1,
    onFinish: function () {
      $('#filter-form').submit()
    }
  });

  fetchImages(1);
  fetchVideos(1);
  fetchAudios(1);
  fetchArticles(1);
});

function initLoadMoreArticles() {
  $('.js-load-more-articles').click(function() {
    refreshURL = window.location.search.substring(1)
    var page = $(this).data("page");
    fetchArticles(page);
  })
}

function initLoadMoreVideos() {
  $('.js-load-more-videos').click(function() {
    refreshURL = window.location.search.substring(1)
    var page = $(this).data("page");
    fetchVideos(page);
  })
}

function initLoadMoreAudios() {
  $('.js-load-more-audios').click(function() {
    refreshURL = window.location.search.substring(1)
    var page = $(this).data("page");
    fetchAudios(page);
  })
}

function initLoadMoreImages() {
  $('.js-load-more-images').click(function() {
    refreshURL = window.location.search.substring(1)
    var page = $(this).data("page")
    fetchImages(page);
  })
}

function initImageGallery() {
  var gallery = $('#grid-gallery')
  if (gallery.length) {
    new CBPGridGallery(gallery.get(0));
  }
}

function fetchAudios(page) {
  $.get( "/audios?" + refreshURL + "&page=" + page,
    function( data ) {
      if ( $(data).data("more") == true ) {
        $('.js-load-more-audios').data("page", $(data).data("page"))
      }

      if (page == 1){
        $( ".audios-grid ul" ).html($(data).find('#audios').html());
      } else {
        $( ".audios-grid ul" ).append($(data).find('#audios').html());
      }

      $('.audios .file-type-count').text($(data).data("total-items"))
      $(".audios .paging").html( $(data).find('.paging').html());
      initLoadMoreAudios();
    });
}

function fetchArticles(page) {
  $.get( "/articles?" + refreshURL + "&page=" + page,
    function( data ) {
      if ( $(data).data("more") == true ) {
        $('.js-load-more-articles').data("page", $(data).data("page"))
      }

      if (page == 1) {
        $( ".articles .card-grid ul" ).html($(data).find('#articles').html());
      } else {
        $( ".articles .card-grid ul" ).append($(data).find('#articles').html());
      }

      $('.articles .file-type-count').text($(data).data("total-items"))
      $(".articles .paging").html( $(data).find('.paging').html());
      initLoadMoreArticles();
    });
}

function fetchVideos(page) {
  $.get( "/videos?" + refreshURL + "&page=" + page,
    function( data ) {
      if ( $(data).data("more") == true ) {
        $('.js-load-more-videos').data("page", $(data).data("page"))
      }

      if (page == 1) {
        $(".videos-grid").html($(data).find('#videos').html());
      } else {
        $(".videos-grid").append($(data).find('#videos').html());
      }

      $('.videos .file-type-count').text($(data).data("total-items"))
      $(".videos .paging").html( $(data).find('.paging').html());
      VideoGrid.init();
      initLoadMoreVideos();
    });
}

function fetchImages(page) {
  $.get( "/images?" + refreshURL + "&page=" + page,
    function( data ) {
      if ( $(data).data("more") == true ) {
        $('.js-load-more-images').data("page", $(data).data("page"))
      }

      if (page == 1) {
        $(".images .slideshow ul").html( $(data).find('#slideshow').html());
        $(".images .card-grid").html( $(data).find('#thumbnails').html());
      } else {
        $(".images .slideshow ul").append( $(data).find('#slideshow').html());
        $(".images .card-grid").append( $(data).find('#thumbnails').html());
      }

      $('.images .file-type-count').text($(data).data("total-items"))
      $(".images .paging").html( $(data).find('.paging').html());
      initImageGallery();
      initLoadMoreImages();
    });
}

function capitalize(text) {
  return text.charAt(0).toUpperCase() + text.slice(1).toLowerCase();
}
</script>
