<div data-page="<%= @videos.next_page %>" data-more="<%= @videos.show_more? %>">
  <div id="videos">
    <% @videos.files.each do |video| %>
      <% if unreadable?(video) %>
        <%= render partial: "video_unreadable", locals: { video: video } %>
      <% else %>
        <%= render partial: "video", locals: { video: video } %>
      <% end %>
    <% end %>
  </div>

  <div class="paging">
    <% if @videos.show_more? %>
    <a href="#" class="js-load-more-videos" data-page="<%= @videos.next_page %>">Load More</a>
    <% end %>
  </div>
</div>
